<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="'ФИО: ' + ${person.getName()}">Value</p>
<p th:text="'Год рождения: ' + ${person.getYear()}">Value</p>
<hr>
<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>
<div th:unless="${books.isEmpty()}">
    <p>Книги:</p>
    <div th:each="book : ${books}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>
    </div>
</div>
<hr>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить человека"/>
</form>
<button th:onclick="'window.location.href = \'' + @{/people/{id}/edit(id=${person.getId()})} + '\';'">Редактировать</button>
<br>
<a href="/people">Назад к списку людей</a>
</body>
</html>